
body {
        size: 100%;
        background-color:black;
        color:white
      }
.Header {
  border: 5px solid red;
  overflow: auto;
  display: flex;
}
.PDP {
  border: 5px solid purple;
  padding: 20px;
  float: left;
}
.Profile {
  flex-grow: 1;
  border: 5px solid blue;
  float: inline;
  text-align: center;
}
.Nom {
  font-size: 36px;
  font-weight: 900;
}
div {
  border: 5px solid green;
}
main {
  border: 5px solid red;
  display: flex;
  
}
.RightPanel {
  width: 49%;
  float: right;
  flex-grow: 1;
  

}
.LeftPanel {
    width: 49%;
  float: left;
  flex-grow: 1;

}
.Metier, .Ecole {
  height: 75px;
}
.Perso, .Competence, .Loisir {
  height: 75px;
}