body {
    background-color: grey;
    max-width: 1200px;
}

.page {
    background-color: rgb(177, 153, 153);
}

.container {
    padding-top: 10px;
}

.main img{
    margin-bottom: 50px;
    padding-bottom: 25px;
    border-style: dashed;
}

.header-img {
   
    background-image: url(../IMG/slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    aspect-ratio: 16/9;
}

.header-img h1 {
    /* Le texte fera 5% de la largeur de l'écran. Plus l'écran réduit, plus le texte réduit. */
    font-size: 5vw;
}

.header-img h2 {
    font-size: 3vw;
}

.header-img h3 {
    font-size: 1.5vw;
}

.carousel-inner {
    /* On dit au navigateur que sur cette zone, on gère le glissement horizontal nous-mêmes */
    touch-action: pan-y;
}