.divproduit {
            background-color: rgb(28, 95, 153);
            text-align: center;
            max-width: 500px;
            width: 100%;
            border-radius: 15px;
            margin: auto;
            margin-bottom: 30px;

        }

        fieldset {
            border-radius: 15px;
        }

        img {
            border: 3px solid grey;
            border-radius: 10px;
            width: 300px;
        }

        .img {
            display: flex;
            justify-content: center;
        }

        .prix {
            font-size: 30px;
            color: rgb(170, 13, 44);
            text-shadow:
                -1px -1px 0 rgb(85, 1, 17),
                1px -1px 0 rgb(85, 1, 17),
                -1px 1px 0 rgb(85, 1, 17),
                1px 1px 0 rgb(85, 1, 17);
        }

        button {
            background-color: rgb(99, 99, 250);
            color: aliceblue;
            border-style: none;
            border-radius: 5px;
            height: 35px;
            width: 75px;
        }

        p {
            font-size: large;
            font-weight: 500;
        }

        span{
            color: orange;
            font-size: larger;
            font-weight: 600;
        }